@using CarRental.Models.ViewModels;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@model PriceListViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Flota";
}
@if (@Model.Cars.Count() == 0)
{
    <h1>Wszystkie samochody są obecnie w naprawie :(</h1>
}
else
{
    

<div class="table-responsive-md">
        @foreach (var item in Model.Cars)
        {
            <table class="table table-hover table-light">
        <tr class="align-middle">
            <th>Marka</th>
            <th>Model</th>
            <th>Kolor</th>
            <th>Przebieg</th>
            <th>Opis</th>
            <th>Typ nadwozia</th>
            <th>Cena za dzień</th>
            <th>Cena startowa</th>
            <th>Podgląd</th>

        </tr>
            <tr class="align-middle">
                <td>@item.Brand</td>
                <td>@item.Model</td>
                <td>@item.Color</td>
                <td>@item.Mileage km</td>
                <td>@item.Description</td>
                <td>@Model.PriceList.FirstOrDefault(o=>o.PriceListId==item.PriceListId).CarType</td>
                <td>@Model.PriceList.FirstOrDefault(o=>o.PriceListId==item.PriceListId).Price.ToString("c")</td>
                <td>@Model.PriceList.FirstOrDefault(o=>o.PriceListId==item.PriceListId).BasePrice.ToString("c")</td>
                <td>
                    <img style="height:15vh;" src="~/img/@item.ImgSrc">
                </td>
            </tr>
            </table>
            <div class="row justify-content-center"> 
                <div class="col-md-4">
                    @if (@Model.Reviews.Where(i => i.CarId == @item.Id).Count() > 0)
                    {
                    <a asp-action="CustomersReviews" asp-controller="Car" asp-route-carId=@item.Id>
                        <button class="btn btn-primary mb-4 w-50 h-75">Opinie</button>
                    </a>
                    }
                    else
                    {
                        <button class="btn btn-primary mb-4 w-50 h-75" disabled>Ten samochód nie posiada opinii</button>
                    }
                    
                </div>

                <div class="col-md-4">

                    @if(@SignInManager.IsSignedIn(User))
                    {
                        <a asp-action="Add" asp-controller="Order" asp-route-CarID=@item.Id asp-route-userName=@User.Identities.FirstOrDefault().Name> 
                            <button class="btn btn-primary mb-4 w-50 h-75">Zamów</button>
                        </a> 
                    }else
                    {
                        <a asp-action="Add" asp-controller="Order" asp-route-CarID=@item.Id asp-route-userName=@User.Identities.FirstOrDefault().Name> 
                            <button disabled class="btn btn-primary mb-4 w-50 h-75">Zaloguj się żeby zamówić</button>
                        </a> 
                    }

          
                </div>
            </div>
        }

    
</div>
}